.custom-blockquote-style blockquote {
  background: #f7f9fa;
  border-left: 10px solid #d6dbdf;
  margin: 1.5em 0;
  padding: 1.0em 16px;
}

.custom-blockquote-style blockquote p {
  display: inline;
}

.custom-blockquote-style pre {
  margin: 16px 0 !important;
  padding: 8px !important;
  border-radius: 4px !important;
  /* background: #f1efee !important; */
}

.custom-blockquote-style pre span {
  white-space: normal;
}